# Navigation
#######################################
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Manipulation
#######################################
alias rm="rm -i"

# Listing
#######################################
alias ls='CLICOLOR_FORCE=1 gls -aFh --color'
alias l='ls -1'
alias ll="gls -alF --color"
alias ld='ls -l | grep "^d"'

# Git
#######################################
alias gs='clear; git status'
alias qgs='gs'
alias gd='git diff'
alias gdc='git diff --cached'
alias ga='git add'

alias hosts='sudo $EDITOR /etc/hosts'

# use coreutils `ls` if possible…
command -v gls >/dev/null 2>&1 || alias gls="ls"

# `cat` with beautiful colors. requires Pygments installed.
alias c='pygmentize -O style=monokai -f console256 -g'
