[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = subl -n -w

[merge]
	tool = opendiff

[color]
	ui = auto

[help]
	autocorrect = 1

[alias]
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	sup = track

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current

# For username / github token / etc
[include]
	path = ~/.gitconfig.local

