[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = subl -n -w
	pager = diff-so-fancy | less --tabs=4 -RFX

[merge]
	tool = opendiff

[color]
	ui = auto

[help]
	autocorrect = 1

[alias]
[branch]
	autoSetupMerge = always
[push]
	default = current

# For username / github token / etc
[include]
	path = ~/.gitconfig.local

[user]
	name = Adam Knox
	email = adam.w.knox@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[rerere]
	enabled = true
